<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>坑死你购物网</title>
    <!-- ALL STYLESHEET -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/style2.css" rel="stylesheet">
    <link href="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">
    <!--link href="css/blog-single.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet"-->
</head>
<body>

    <!-- header -->
    <header class="header">

        <!-- header top -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-5">
                        <ul class="list-inline pull-right">
                            <li><a href="/home" id="user"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="/cart" id="cart"><i class="fa fa-heart-o"></i> Wishlist (0)</a></li>
                            <li><a class="/register" href="login">Register</a></li>
                            <li><a class="/register" href="login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        

        <!-- header bottom -->
        
    </header>

    

    <!-- emarket adds -->
    <section class="">
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a onclick="show('user')">用户</a></li>
                    <li role="presentation"><a onclick="show('goods')">商品</a></li>
                    <li role="presentation"><a onclick="show('order')">订单</a></li>
                </ul>
            </div>
            <div class="row" id="d1">
                <table id="datatable1" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>用户名</th>
                            <th>地址</th>
                            <th>电话</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <!-- tbody是必须的 -->
                </table>
            </div>
            <div class="row hide" id="d2">
                <table id="datatable2" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>商品ID</th>
                            <th>商品名</th>
                            <th>类型</th>
                            <th>价格</th>
                            <th>折扣</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <!-- tbody是必须的 -->
                </table>
            </div>
            <div class="row hide" id="d3">
                <table id="datatable3" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>订单号</th>
                            <th>用户ID</th>
                            <th>商品ID</th>
                            <th>商品名</th>
                            <th>数量</th>
                            <th>总价</th>
                            <th>时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <!-- tbody是必须的 -->
                </table>
            </div>
        </div>
    </section>	
    
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h2>About E-Market</h2>
                        <div class="heading-border b-color-1"></div>
                        <p>Nam apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci vulputate consetetur, 								causae consulatu eaper,  apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci 								vulputate consetetur, causae consulatu eaper</p>
                        <div><a href="">Read More <i class="fa fa-angle-double-right"></i></a></div>
                        <strong>Newsletter</strong>
                        <form class="navbar-for" role="email">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email Address">
                                <span class="nav-search"><a href="#"><i class="fa fa-envelope"></i></a></span>
                            </div>
                        </form>
                        <small>Eros posse verterem congue saperet.</small>
                    </div>
                    <div class="col-sm-3">
                        <h2>Featured Products</h2>
                        <div class="heading-border b-color-1"></div>
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left"><img src="images/featured-1.jpg" alt=""></div>
                                <div class="media-body">
                                    <p class="media-heading">Lorem ipsum dolor sit amet</p>
                                    <div class="category">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <strong>$899.99</strong>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img src="images/featured-1.jpg" alt=""></div>
                                <div class="media-body">
                                    <p class="media-heading">Lorem ipsum dolor sit amet</p>
                                    <div class="category">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <strong>$899.99</strong>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left"><img src="images/featured-1.jpg" alt=""></div>
                                <div class="media-body">
                                    <p class="media-heading">Lorem ipsum dolor sit amet</p>
                                    <div class="category">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <strong>$899.99</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h2>Latest News</h2>
                        <div class="heading-border b-color-1"></div>
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-left text-center">
                                    <img src="images/featured-1.jpg" alt="">
                                    <span><i class="fa fa-search"></i></span>
                                </div>
                                <div class="media-body">
                                    <p class="f-border">Lorem ipsum dolor sit amet, an animal feugait</p>
                                    <p class="f-date">23 August 2015</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left text-center">
                                    <img src="images/featured-1.jpg" alt="">
                                    <span><i class="fa fa-search"></i></span>
                                </div>
                                <div class="media-body">
                                    <p class="f-border">Lorem ipsum dolor sit amet, an animal feugait</p>
                                    <p class="f-date">23 August 2015</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left text-center">
                                    <img src="images/featured-1.jpg" alt="">
                                    <span><i class="fa fa-search"></i></span>
                                </div>
                                <div class="media-body">
                                    <p class="f-border">Lorem ipsum dolor sit amet, an animal feugait</p>
                                    <p class="f-date">23 August 2015</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h2>Contact us</h2>
                        <div class="heading-border b-color-1"></div>
                        <strong class="media-heading">Address</strong>
                        <p>Lebel 2, 13 Elezabe St, Melbounire, Victoria 3000, +8492575, USA</p>

                        <strong class="media-heading">Phone & Fax</strong>
                        <p>+880183947930</p>
                        <p>+(980)1839479</p>

                        <strong class="media-heading">E-Mail Address</strong>
                        <p>support@gmail.com</p>
                        <p>example@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                        <ul class="list-inline center-block">
                            <li><a href="#"><img src="images/card-1.png"></a></li>
                            <li><a href="#"><img src="images/card-2.png"></a></li>
                            <li><a href="#"><img src="images/card-3.png"></a></li>
                            <li><a href="#"><img src="images/card-4.png"></a></li>
                            <li><a href="#"><img src="images/card-5.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- ALL JAVASCRIPT -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery.cookie.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/common.js"></script>
    <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10-dev/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="static/js/admin.js"></script>
</body>
</html>